<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/configurazione">Configurazione</a></li>
        <li><a href="/profili">Profili</a></li>
        <li><a href=<%=loginRef%>><%=loginMenu%></a></li>
    </ul>
</nav>
