<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/configurazione">Configurazione</a></li>
        <li><a href="/profiles">Profiles</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>
