
<div class="elemRow">

    <input class="ambient" type="text" id="ambientID" value="ambientValue" readonly disabled>

    <select class="prSelector" title="Nessuno" name="selName" id="selID" >
        <option id="start0" value="Nessuno">Nessuno</option>
        <option id="start1" value="pr1">Fotoresistore 1</option>
        <option id="start2" value="pr2">Fotoresistore 2</option>
        <option id="start3" value="pr3">Fotoresistore 3</option>
        <option id="start4" value="pr4">Fotoresistore 4</option>
        <option id="start5" value="pr5">Fotoresistore 5</option>
        <option id="start6" value="pr6">Fotoresistore 6</option>
        <option id="start7" value="pr7">Fotoresistore 7</option>
        <option id="start8" value="pr8">Fotoresistore 8</option>
    </select>

    <script>

        // Immediately invoked function to monitor select menus changes for each LED
        ( function()
        {
            let index = <%=index%>;
            let rooms = <%- JSON.stringify(rooms) %>;
            document.getElementById('ambientID').value = "Luci "+rooms[index-1];
            document.getElementById('selID').name = "sel"+index;

            // Assign unique IDs to label, Select menu and each of its options
            document.getElementById('ambientID').id = "pr"+rooms[index-1];
            document.getElementById('selID').id = "sel"+index;
            document.getElementById('start0').id = index+"Nessuno";
            for(let j=1; j<9; j++) {
                const oldId = "start"+j;
                document.getElementById(oldId).id = index+"pr"+j;
            }

            const sel= document.getElementById("sel"+index);
            const inc = document.getElementById("incBut"+index);
            const dec = document.getElementById("decBut"+index);
            const led = document.getElementById("led"+index);

            // Load Select value after POST request
            let devs = <%- JSON.stringify(devices) %>;
            sel.value = devs[index+8-1];

            // Make sure each photoresistor can be assigned to only one LED
            // and make sure LED intensity cannot be modified if a photoresistor
            // for that LED is selected.
            // Attribute title of Select used to hold previous selected value
            sel.addEventListener('change', () => {

                if(sel.value === "Nessuno") {
                    // No photoresistor assigned enable LED buttons
                    inc.disabled = false;
                    dec.disabled = false;

                    // Enable previous photoresistor selected to be assigned to LEDs
                    for(let i=1; i<9; i++) {
                        if(i != index) {
                            const optionId = i+sel.title;
                            document.getElementById(optionId).disabled = false;
                        }
                    }
                }
                else {
                    // Photoresistor assigned disable LED buttons
                    inc.disabled = true;
                    dec.disabled = true;
                    led.value =0;

                    for(let i=1; i<9; i++) {
                        if(i == index) continue;
                        let optionId;

                        // Enable previous photoresistor selected to be assigned to LEDs
                        if(sel.title != "Nessuno") {
                            optionId = i+sel.title;
                            document.getElementById(optionId).disabled = false;
                        }

                        // Disable photoresistor selected to be assigned to other LEDs
                        optionId = i+sel.value;
                        document.getElementById(optionId).disabled = true;
                    }
                }
                sel.title = sel.value;
            });
        })();
    </script>
</div>
