
<div class="orizontalSep"></div>
<div class="elemRow">
    <label class="label">Nome Profilo (obbligatorio):</label>
    <input class="saveName" type="text" id="profileName" placeholder="Inserisci il nome">
    <input class="saveButton" type="button" id="save" value="Salva">
</div>
<div class="orizontalSep"></div>
<div class="elemRow">
    <label class="label">Info (opzionale):</label>
    <textarea class="saveInfo" id="profileInfo" name="name" rows="8" cols="80" placeholder="Inserisci una breve descrizione del profilo"=></textarea>
</div>

<script>
    // Immediately invoked function to start save button listener
    ( function(){

        const saveButton = document.getElementById('save');

        saveButton.addEventListener('click', () => {
            
        });
    })();
</script>
