<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <header>
        </header>

        <main>
            <div class="intro">
                <p class="orizontalSep">
                    La pagina richiesta non è stata trovata. Controlla di aver
                    immesso l'indirizzo corretto.
                </p>
            </div>
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>

    </body>
</html>
