<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        <header>
            <%- include('partials/header') %>
        </header>

        <main>
            <div class="section">
                <p class="title">Smart House</p>
                <p class="sectionInfo">
                    Benvenuto/a in Smart House, la tua applicazione di domotica
                    per la gestione di tutti i dispositivi connessi. L'applicazione è
                    organizzata come segue:
                </p>
                </br>
                <ul class="noBullet">
                    <li class="padding">
                        <div class="elemRow">
                            <p class="verticalSep bulletName">
                                Configurazione:
                            </p>
                            <p class="alignToName bulletInfo">
                                in questa pagina potrai gestire i dispositivi
                                LED e i Fotoresistori connessi. E' possibile configurarli
                                singolarmente e/o salvare la configurazione scelta per un
                                utilizzo futuro. In tal caso, fare riferimento alla pagina
                                "Profili".
                            </p>
                        </div>
                    </li>
                    </br>
                    <li class="padding">
                        <div class="elemRow">
                            <p class="verticalSep bulletName">
                                Profili:
                            </p>
                            <p class="alignToName bulletInfo">
                                in questa pagina puoi applicare un profilo salvato
                                in precendenza ai tuoi dispositivi. E' inoltre possibile
                                eliminare i profili non più utilizzati.
                            </p>
                        </div>
                    </li>
                    </br>
                    <li class="padding">
                        <div class="elemRow">
                            <p class="verticalSep bulletName">
                                Login/Logout:
                            </p>
                            <p class="alignToName bulletInfo">
                                in questa pagina puoi effettuare il login
                                (o il logout a seguito di un login) nell'applicazione. E'
                                un'operazione necessaria al fine di accedere alle pagine
                                "Configurazione" e "Profili".
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>

    </body>
</html>
