<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <header>
            <%- include('partials/header') %>
        </header>

        <main>
            <form action="/logout" method="post">
                <div class="intro">
                    <p class="orizontalSep">
                        Hai effettuato il login con successo! Non appena avrai
                        terminato le operazioni di configurazione e di caricamento
                        dei profili salvati ricordati di effettuare il logout
                        dall'applicanzione premendo il pulsante apposito
                        all'interno di questa pagina.
                    </p>

                    <div class="elemRow orizontalSep">
                        <label>Sei sicuro di voler effettuare il logout?</label>
                        <input class="alignArea" type="checkbox" name="check" unchecked>
                    </div>
                    <input class="loginButton orizontalSep" type="submit" value="Logout">

                </div>
            </form>
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>

    </body>
</html>
