<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <header>
            <%- include('partials/header') %>
        </header>

        <main>
            <div class="intro">
                <p class="orizontalSep">
                    Devi effettuare il login nell'area dedicata prima di poter
                    configurare i tuoi dispositivi!
                </p>
            </div>
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>

    </body>
</html>
