<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart House</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Tuning</a></li>
          <li><a href="#">Profiles</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <% elencoProfili.forEach(profilo => { %>
        <profile>
           <h1><%= profilo.id %></h1>
           <p><%= profilo.info %></p>
        </profile>
      <% }); %>
       %>
    </main>

    <footer>
      <p>Tutti i diritti riservati</p>
    </footer>

  </body>
</html>
