<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header>
      <h1> Elemento inserito con successo! </h1>
    </header>

    <main>
    </main>

    <footer>
      <%- include('partials/footer') %>
    </footer>

  </body>
</html>
