.intro
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    font-family: "Roboto";
    text-align: justify;
    display: block;
    border: 1px solid #ccc;
    background-color: #F5F5F5;
}

.elemRow
{
    display: flex;
}

.split
{
    width: 50%;
}

.verticalSep
{
    margin-left: 10px;
    margin-right: 10px;
}

.section
{
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Roboto";
    display: block;
    border: 1px solid #ccc;
    background-color: #F5F5F5;
}

.title
{
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

.sectionInfo
{
    font-size: 15px;
}

.alignLedToPR
{
    margin-bottom: 50px;
}

.ambient
{
    margin-left: 15%;
    width: 130px;
    height: 50px;
    border: 0px solid;
    font-size: 18px;
    font-family: "Roboto Condensed";
    font-weight: 900;
    color: #333;
    background-color: #F5F5F5;
}

.value
{
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 30px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: white;
    cursor: initial;
    outline: none;
}

.tuning
{
    margin-top: 12px;
    margin-left: 10px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    font-size: 20px;
    background-color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

.tuning:hover
{
    background-color: #333;
    color: white;
}

.prSelector
{
    margin-top: 11px;
    margin-left: 10px;
    height: 32px;
    width: 130px;
    text-align: center;
    cursor: pointer;
}

.prSelector:hover
{
    background-color: #333;
    color: white;
}

.orizontalSep
{
    margin-bottom: 20px;
}

.label
{
    margin-top: 30px;
    margin-left: 7%;
    font-size: 18px;
    font-family: "Roboto Condensed";
    font-weight: 900;
    color: #333;
}

.saveName
{
    margin-top: 23px;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 18px;
    font-family: "Roboto Condensed";
    text-align: center;
    width: 220px;
    height: 30px;
    background-color: white;
}

.saveInfo
{
    margin-top: 28px;
    margin-left: 20px;
    margin-right: 30px;
    width: 303px;
    height: 80px;
    font-size: 18px;
    font-family: "Roboto Condensed";
    background-color: white;
    resize: none;
}

.applyButton
{
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-family: "Roboto Condensed";
    font-weight: 900;
    color: #FEFEFE;
    background-color: #555555;
    cursor: pointer;
}
