nav a
{
    text-decoration: none;
    color: #333;
}

nav ul
{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 40px;
    font-weight: bold;
    font-size: 18px;
    font-family: "Roboto";
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

main
{
    margin-left: 10%;
    margin-right: 10%;
}

footer
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
